.@{noahvPrefixCls}-checkbox {
    position: relative;
    .checkbox {
        display: inline-block;
        vertical-align: middle;
        width: 14px;
        height: 14px;
        border: 1px solid #dedede;
        border-radius: 2px;
        cursor: pointer;
    }
    .slot {
        display: inline-block;
        vertical-align: middle;
    }
}

.@{noahvPrefixCls}-checkbox-checked {
    .checkbox {
        border: none;
        background-color: #2389FF;

        &:after {
            content: '';
            position: absolute;
            top: 3px;
            left: 2px;
            width: 10px;
            height: 6px;
            border: 2px solid #fff;
            border-top-color: transparent;
            border-right-color: transparent;
            transform: rotate(-45deg);
        }
    }
}

.@{noahvPrefixCls}-checkbox-partial-checked {
    .checkbox {
        border: none;
        background-color: #2389FF;
        &:after {
            content: '';
            position: absolute;
            top: 7px;
            left: 2px;
            width: 10px;
            height: 1px;
            border: 1px solid #fff;
            transform: rotate(0deg);
        }
    }
}

.@{noahvPrefixCls}-checkbox-disabled {
    .checkbox {
        background-color: #f3f3f3;
        cursor: not-allowed;
    }
}

.@{noahvPrefixCls}-checkbox-partial-checked.@{noahvPrefixCls}-checkbox-disabled {
    .checkbox {
        border: 1px solid #DEDEDE;
        &:after {
            border: 1px solid #DDDEE1;
        }
    }
}

.@{noahvPrefixCls}-checkbox-checked.@{noahvPrefixCls}-checkbox-disabled {
    .checkbox {
        border: 1px solid #DEDEDE;
        &:after {
            border-left-color: #DDDEE1;
            border-bottom-color: #DDDEE1;
        }
    }
}
