body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, i, b, textarea, button, input, select  {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    // color: #313131;
    box-sizing: border-box;
    font-family: "Microsoft YaHei",-apple-system,BlinkMacSystemFont,"SF Pro SC","SF Pro Text","Helvetica Neue",Helvetica,"PingFang SC","Segoe UI",Roboto,"Hiragino Sans GB","Arial","microsoft yahei ui",SimSun,sans-serif;
    -webkit-tap-highlight-color:transparent;
    &:focus {
        outline: none;
    }
}


html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body {
    height: 100%;
    width: 100%;
    background: #f5f7f9;
}
.ivu-spin-fullscreen {
    background-color: rgba(252, 252, 252, .4)
}


